{{#extend "title"}}Antler{{/extend}}

{{#extend "stylesheets"}}
  <link rel='stylesheet' href='/css/style.css'>
{{/extend}}

{{#extend "scripts"}}
  <script src="/js/socket.io/socket.io.js"></script>
  <script src="/js/plugins/jquery-cookie.js"></script>
{{/extend}}

{{#extend "deferred_scripts"}}
  <script src="/js/antler/main.js"></script>
{{/extend}}

<style>
h1 {
  background-color: #ccf;
  padding: 10px;
}
.guest_connect {
  margin-left: 30px;
}
</style>

<h1>Hello!</h1>
<ul id="guests"></ul>

<div id="lonelyMessage">
  <p>Nobody is around</p>
</div>