{{#extend "title"}}Antler{{/extend}}

{{#extend "stylesheets"}}
  <link rel='stylesheet' href='/css/style.css'>
{{/extend}}

{{#extend "scripts"}}
  <script src="/js/socket.io/socket.io.js"></script>
  <script src="/js/plugins/jquery-cookie.js"></script>
{{/extend}}

{{#extend "deferred_scripts"}}
  <script src="/js/antler/main.js"></script>
{{/extend}}

<style>
h1 {
  background-color: #ccf;
  padding: 10px;
}
.guest_connect {
  margin-left: 30px;
}
</style>

<h1>Hello!</h1>
<ul id="guests"></ul>

<div id="lonelyMessage">
  <p>Nobody is around</p>
</div>


<div id="myModal" class="modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Modal title</h4>
      </div>
      <div class="modal-body">
        <p>One fine body&hellip;</p>
      </div>
      <div class="modal-footer">
        <button id="modalNo" type="button" class="btn btn-default" data-dismiss="modal">No</button>
        <button id="modalYes" type="button" class="btn btn-primary">Yes</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->