	{{#extend "title"}}welcome to antler.io{{/extend}}
	
	<div class="header_bar" style="text-align:center;padding:45px 0;">
		<img width="40" class="headshot" src="/img/antler-white-logo.svg" /><br/>
		antler.io
	</div>
	
	
	
	<div class="intro">
	
		<h2>Quickly connect with the people around you & get reminded about it later.</h2>
	
		<a class="link_button" href="/login">Get Started</a>
		
		<p class="actions">
			<a href="/about">Details<br/><i class="icon-circle-arrow-down"></i></a>
		</p>	
	
	
		<!--div id="detail_content" name="detail_content" >
			<h2>What is antler.io?</h2>
			<p>A small reminder app that allows you to connect with the people around you without immediately exchanging details.</p>
			
			<h2>How does antler.io work?</h2>
			<ol>
				<li>Sign up with your email.</li>
				<li>Quickly connect with people.</li>
				<li>Get two digest emails - that night and a week later.</li>
			</ol>
			
			<h2>Why antler.io?</h2>
			<p>Meetups & conferences are hectic. You run out of business cards, are late for the next session, get over-stimulated and forget all the cool cats you met that day. Antler.io will remind you, via digest email, the day you met somebody and a week after that. And then? Never again. That's it.</p>
			
			<h2>What about privacy?</h2>
			<p>If you sign up and connect with a fellow user, we will send them your email address. Everybody else can see your avatar, first name & last initial.</p>
			
			<p>We may send you an email or two about the service.</p>
			
			
			
			<h2>What else?</h2>
			<p>Well, if you must know, antler.io is still a wee fawn. There's no location authentication (your buddy in Kuala Lumpur can connect with you) and there are plenty of other issues.</p>
		
		
		
		</div-->
			
			
	</div>
	
	