

<form role="form" action="/login" method="post">
  <ul id="errors"></ul>
  <div class="form-group">
    <label for="email">Email</label>
    <input type="email" class="form-control" id="email" name="email" placeholder="Enter email" value="{{email}}">
  </div>
  <div class="form-group">
    <div class="row">
      <div class="col-xs-9">
        <label for="firstname">First name</label>
        <input type="text" class="form-control" id="firstname" name="firstname" placeholder="First name" value="{{firstname}}">
      </div>
      <div class="col-xs-3">
        <label for="lastinitial">Last initial</label>
        <input type="text" class="form-control" id="lastinitial" name="lastinitial" placeholder="Initial" maxlength="1" value="{{lastinitial}}">
      </div>
    </div>
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>

{{#extend "deferred_scripts"}}
  <script>
    var $errors = $('#errors');
    var errors = {{{errors}}} || '';
    var markup = '';

    for(var i=0, len=errors.length; i<len; i++) {
      markup = ['<li>', errors[i].msg ,'</li>'].join('');
    }
    
    $errors.html(markup);
  </script>
{{/extend}}