{{#extend "title"}}welcome to antler.io{{/extend}}

{{#extend "stylesheets"}}
	<link rel='stylesheet' href='/css/style.css'>	
{{/extend}}


<h1 class="active"><img id="profile" class="headshot" src="/uploads/{{user.image}}">Oh no {{user.firstname}}!</h1>

<div class="intro">
	<h2>You've been disconnected automatically after not making any connections in 90 seconds.</h2>
	<a class="link_button action_button" href="/">Reconnect?</a>
</div>


{{#extend "deferred_scripts"}}
  <script>
    (function($){
      
    })(jQuery);
  </script>
{{/extend}}