button {
  margin-left:20px;
}

.hide{
  display:none;
}

ul {
  list-style-type:none;
  padding:0;
}
li {
  padding: 20px;
}

.guest {
  border-radius: 5px;
}

.guest .guest_connect_button,
.guest.confirm .guest_confirm_button {
 display: inline-block; 
}

.guest.confirm .guest_connect_button,
.guest .guest_confirm_button,
.guest_connected {
  display: none;
}

.guest.connected .guest_connect_button,
.guest.connected .guest_confirm_button {
  display:none;
}

.guest.connected .check {
  display: inline-block;
}